## * ㅠㅠ 배우 컬럼 재생성(수정) 필요

# 영화 흥행에 배우가 미치는 영향 파악
    1. 영화 개봉 30일전~ 7일후 까지의 배우 검색량 및 언급도 로 배우의 화제성지수 산출
    2. 화제성지수에 따른 '상영횟수 대비 매출액'이 어떤 상관관계를 갖는지 파악
        * 상영횟수 대비 매출액을 기준으로 한 이유: 배우당 영화개수로 하기엔 왜곡이 일어남, 
         배우 영향력 파악을 위해선 상영할 때 관에 관객이 얼마나 찼는지가 중요하다고 생각하였음

In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime  
from datetime import timedelta

In [2]:
df = pd.read_csv('C:/Python/movie-data-analysis/data/movie.csv', sep=',', encoding='ms949', index_col=[0,1])

In [3]:
df = df.reset_index()

In [4]:
df.columns

Index(['year', 'rank', 'index', '영화명', '개봉일', '매출액', '누적매출액', '관객수', '누적관객수',
       '스크린수', '상영횟수', '대표국적', '제작사', '배급사', '등급', '장르', '감독', '배우'],
      dtype='object')

## 1. 2016년도 영화 살펴보기

In [6]:
df_2016 =df[df['year'] == 2016]

In [7]:
df_2016[['배우']].head()  #시작 600
df_2016[['배우']].tail()  # 끝 699

                                 배우
695          마이클 키튼,마크 러팔로,레이첼 맥아담스
696      잭 블랙,딜런 미네트,오데야 러쉬,할스톤 세이지
697         루크 브레이시,에드가 라미레즈,테레사 팔머
698  저스틴 롱,제이슨 리,매튜 그레이 구블러,제시 맥카트니
699     류덕환,조복래,박형서,조동혁,이규섭,이수빈,조혜원

In [8]:
df_actor_2016 = df_2016["배우"].str.split(',')
df_actor_2016.head()
type(df_actor_2016)

# series -> dataframe으로 변환
df_actor_2016 = df_actor_2016.apply(lambda x: pd.Series(x))
type(df_actor_2016)

pandas.core.frame.DataFrame

In [9]:
df_2016.head()

,year,rank,index,영화명,개봉일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,제작사,배급사,등급,장르,감독,배우
600,2016,1,600,부산행,2016-07-20,93178283048,93178283048,11565479,11565479,1788,151315,한국,(주)영화사레드피터,(주)넥스트엔터테인먼트월드(NEW),15세이상관람가,"액션,스릴러",연상호,"공유,김정희,정유미,김율호,마동석,최우식,안소희,김의성,김수안,박민우,박민혁,임종훈..."
601,2016,2,601,검사외전,2016-02-03,77320403264,77320403264,9707581,9707581,1812,153532,한국,"(주)영화사 월광,(주)사나이픽처스",(주)쇼박스,15세이상관람가,"범죄,코미디",이일형,"황정민,강동원,이성민,박성웅,김응수,신소율,주진모,김원해,김홍파,김병옥,박종환,전배..."
602,2016,3,602,캡틴 아메리카: 시빌 워,2016-04-27,72672111827,72672111827,8677249,8677249,1991,161696,미국,NaN,월트디즈니컴퍼니코리아(주),12세이상관람가,"액션,SF,스릴러","안소니 루소,조 루소","크리스 에반스,로버트 다우니 주니어,스칼렛 요한슨,세바스찬 스탠,안소니 마키,돈 치..."
603,2016,4,603,밀정,2016-09-07,61269783831,61269783831,7500420,7500420,1444,138161,한국,"(주)다크서클픽쳐스,워너브러더스 코리아(주),(주)영화사하얼빈",워너브러더스 코리아(주),15세이상관람가,액션,김지운,"송강호,공유,한지민,츠루미 신고,엄태구,신성록,서영주,박민우,이진한,이진한,임서영,..."
604,2016,5,604,터널,2016-08-10,57529484417,57529484417,7120508,7120508,1105,113201,한국,"(주)어나더썬데이,(주)비에이엔터테인먼트",(주)쇼박스,12세이상관람가,드라마,김성훈,"하정우,배두나,오달수,김종수,임한빈,정민희,송민석,윤성민,이동진,이상희,최춘범,권승..."

### 1-1. merge 위한 데이터 정제

In [0]:
df_2016_r = df_2016.reset_index()
df_2016_r

In [0]:
# 멀티 인덱스를 가진 Series
df_actor_2016 = df_actor_2016.stack()
df_actor_2016.tail()

df_actor_2016 = df_actor_2016.to_frame('배우별')
df_actor_2016.head()

In [0]:
df_actor2016_1 = df_actor_2016.reset_index()
df_actor2016_1.head()

   level_0  level_1  배우별
0      600        0   공유
1      600        1  김정희
2      600        2  정유미
3      600        3  김율호
4      600        4  마동석

In [0]:
df_actor2016_1 = df_actor2016_1.rename(columns = {'level_0':'idx1', 'level_1':'idx2'})

In [0]:
df_actor2016_1.columns

Index(['idx1', 'idx2', '배우별'], dtype='object')

### 1-2. 출연배우 영화 당 상위10명까지 추출
    주조연 10명까지 영화의 주요배우라고 가정하였음

In [0]:
df_actor_2016_test = df_actor2016_1[(df_actor2016_1['idx2'] >= 0) & (df_actor2016_1['idx2'] <= 9)]
df_actor_2016_test.head(10)

   idx1  idx2  배우별
0   600     0   공유
1   600     1  김정희
2   600     2  정유미
3   600     3  김율호
4   600     4  마동석
5   600     5  최우식
6   600     6  안소희
7   600     7  김의성
8   600     8  김수안
9   600     9  박민우

In [0]:
df_actor_2016_test = df_actor_2016_test.rename(columns = {'idx1':'index'})
df_actor_2016_test.head()

   index  idx2  배우별
0    600     0   공유
1    600     1  김정희
2    600     2  정유미
3    600     3  김율호
4    600     4  마동석

### 1-3. 배우별 영화명, 관객수 추출

In [0]:
# df_2016_r 에  df_actor_2016_test merge 시키기
movie2 = pd.merge(df_2016_r, df_actor_2016_test, how='right')

In [0]:
movie2.columns

Index(['index', 'year', 'rank', '영화명', '개봉일', '매출액', '누적매출액', '관객수', '누적관객수',
       '스크린수', '상영횟수', '대표국적', '제작사', '배급사', '등급', '장르', '감독', '배우', 'idx2',
       '배우별'],
      dtype='object')

In [0]:
movie2.shape

(704, 20)

In [0]:
movie2 = movie2[['배우별', '영화명', '개봉일', '상영횟수', '매출액', '누적매출액']]
movie2.shape

(704, 6)

In [0]:
movie2['배우별'][703]

'조혜원'

### 1-4. 개봉일, 매출액, 누적매출액 type 변환

In [0]:
# 1. 개봉일 type 변환
import datetime

movie2['개봉일'] = pd.to_datetime(movie2['개봉일'])
type(movie2['개봉일'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [0]:
# 2. 매출액, 누적매출액 type 변환

movie2['매출액'] = movie2['매출액'].str.replace(',','')
movie2['누적매출액'] = movie2['누적매출액'].str.replace(',','')

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [0]:
# 2-1. int로 변환하려니 error나서 float로 변환함

movie2['매출액'] = movie2['매출액'].astype('float')
movie2['누적매출액'] = movie2['누적매출액'].astype('float')

In [0]:
movie_2016= pd.pivot_table(movie2, values=['매출액', '누적매출액'], index=['배우별','영화명', '상영횟수', '개봉일'])
movie_2016.head()

                                           누적매출액           매출액
배우별       영화명    상영횟수   개봉일
J.K. 시몬스  라라랜드   56,408 2016-12-07  1.999614e+10  1.999614e+10
          쿵푸팬더3  97,404 2016-01-28  3.134080e+10  3.134080e+10
T.J. 밀러   데드풀    82,521 2016-02-17  2.759562e+10  2.759562e+10
가브리엘 베이트먼 라이트 아웃 34,444 2016-08-24  8.893060e+09  8.893060e+09
강경탁       계춘할망   19,644 2016-05-19  3.600794e+09  3.600794e+09

In [0]:
movie_2016 = movie_2016.reset_index().rename(columns = {'배우별' : '배우명'})
movie_2016.shape # 2016년도 배우 총 703명

(703, 6)

#### 상영횟수가 str 이라서, int로 변경

In [0]:
type(movie_2016['상영횟수'][0])

str

In [0]:
movie_2016['상영횟수'] = movie_2016['상영횟수'].str.replace(',','')
movie_2016['상영횟수'] = movie_2016['상영횟수'].astype('int')

In [0]:
movie_2016.to_csv('movie_2016.csv', sep=",", encoding='utf8')

In [0]:
movie_2016.head()

         배우명     영화명   상영횟수        개봉일         누적매출액           매출액
0   J.K. 시몬스    라라랜드  56408 2016-12-07  1.999614e+10  1.999614e+10
1   J.K. 시몬스   쿵푸팬더3  97404 2016-01-28  3.134080e+10  3.134080e+10
2    T.J. 밀러     데드풀  82521 2016-02-17  2.759562e+10  2.759562e+10
3  가브리엘 베이트먼  라이트 아웃  34444 2016-08-24  8.893060e+09  8.893060e+09
4        강경탁    계춘할망  19644 2016-05-19  3.600794e+09  3.600794e+09

### 1-5. 개봉일 쳐내기

In [0]:
movie_2016['개봉일'].value_counts()
# 쳐낼 일자가 없음을 확인 (2015.12.01~2016.12.31)

2016-02-17    29
2016-09-07    27
2016-06-29    25
2016-08-03    25
2016-04-13    24
2016-09-28    23
2016-07-20    21
2016-08-10    20
2016-12-07    19
2016-06-09    19
2016-09-14    18
2016-11-30    17
2016-11-16    17
2016-01-14    16
2016-07-27    15
2016-10-26    15
2016-12-21    15
2016-01-21    14
2016-03-10    14
2016-04-07    13
2016-07-06    13
2016-01-07    13
2016-06-01    13
2016-11-09    13
2016-05-19    13
2016-02-24    13
2016-05-12    12
2016-07-13    11
2016-10-13    10
2015-12-30    10
2016-04-21    10
2016-01-27    10
2016-02-03    10
2015-12-16    10
2016-05-25    10
2016-06-16    10
2016-12-14    10
2016-05-04    10
2015-12-31    10
2016-02-04     9
2016-11-23     9
2016-08-17     9
2016-04-27     8
2016-12-28     8
2016-01-28     8
2016-03-24     8
2015-12-17     7
2016-10-19     7
2016-03-03     5
2016-06-22     5
2016-08-25     5
2016-10-05     4
2015-12-24     4
2016-08-31     4
2016-08-24     4
2016-01-02     2
Name: 개봉일, dtype: int64

### 1-6. 배우별 영화 상영횟수 대비 매출액 비교

In [0]:
sale_2016 = movie_2016.groupby(movie_2016.배우명).sum()
sale_2016.head()

             상영횟수         누적매출액           매출액
배우명
J.K. 시몬스   153812  5.133694e+10  5.133694e+10
T.J. 밀러     82521  2.759562e+10  2.759562e+10
가브리엘 베이트먼   34444  8.893060e+09  8.893060e+09
강경탁         19644  3.600794e+09  3.600794e+09
강동원        254722  1.210515e+11  1.210515e+11

In [0]:
sale_2016 = sale_2016.reset_index()

In [0]:
sale_2016 = sale_2016.drop(['누적매출액'], 1)
sale_2016.columns

Index(['배우명', '상영횟수', '매출액'], dtype='object')

In [0]:
# 상영횟수 대비 매출액 컬럼 만들기

sale_2016["상영수 대비 매출액"] = sale_2016['매출액']/sale_2016['상영횟수']
sale_2016.head()

         배우명    상영횟수           매출액     상영수 대비 매출액
0   J.K. 시몬스  153812  5.133694e+10  333764.188672
1    T.J. 밀러   82521  2.759562e+10  334407.225446
2  가브리엘 베이트먼   34444  8.893060e+09  258188.943648
3        강경탁   19644  3.600794e+09  183302.501934
4        강동원  254722  1.210515e+11  475229.884851

In [0]:
sale_2016.shape

(593, 4)

In [0]:
sale_2016.sort_values(by='상영수 대비 매출액', ascending='False').head(10)

# 영진위 데이터에 있는 배우리스트가 인지도 순이 아닌 경우도 있어보인다. (outlier 살피기)

     배우명   상영횟수           매출액     상영수 대비 매출액
301  양정인  22769  2.440004e+09  107163.433308
32   김동영  22769  2.440004e+09  107163.433308
332  우지원  22769  2.440004e+09  107163.433308
340  유정래  22769  2.440004e+09  107163.433308
421  전미선  22769  2.440004e+09  107163.433308
410  장원식  22769  2.440004e+09  107163.433308
420  전노민  22769  2.440004e+09  107163.433308
580  한효주  32322  3.768201e+09  116583.155714
136  류혜영  32322  3.768201e+09  116583.155714
507  차지연  32322  3.768201e+09  116583.155714

## 영진위 데이터에 있는 배우리스트가 인지도 순이 아닌 경우가 많아보인다 
    -> 결과 왜곡발생 심할것.
    -> 네이버 영화 api 이용하여 배우 리스트만들고, merge하기

In [0]:
# 필요없음

#count_2016 = movie_2016.groupby(movie_2016.배우명).count()
#count_2016.head()

In [0]:
#count_2016 = count_2016.drop(["개봉일","누적매출액","매출액"],1)
#count_2016 = count_2016.rename(columns={'영화명':'작품갯수'})
#count_2016.head()

In [0]:
#count_2016 = count_2016.reset_index()

In [0]:
# mean_2016 = movie_2016.groupby(movie_2016.배우명).mean()
# mean_2016.head()

In [0]:
#mean_2016 = mean_2016.rename(columns={'누적매출액':'누적매출액평균','매출액':'매출액평균'})
#mean_2016.head()

In [0]:
#mean_2016 = mean_2016.reset_index()

In [0]:
# 이 세 dataframe을 merge 해 주세요..
#merge1_test = pd.merge(count_2016,sale_2016, how='outer')
#merge1_test.head()

In [0]:
#merge2_test = pd.merge(merge1_test,mean_2016, how='outer')

In [0]:
# 데이터 파악하기
#merge2_test.sort_values(by="매출액평균", ascending=False).head()

# 평균으로 봤을때 데이터 결과가 무의미(왜곡발생)한 것으로 보임 => 작품갯수 or 매출액을 기준으로 변경

In [0]:
#merge2_test = merge2_test.drop(["누적매출액평균", '매출액평균'], 1)

# 1. 매출액 기준으로 정렬
#merge2_test.sort_values(by="매출액", ascending=False).head()

In [0]:
# 2. 작품갯수로 정렬
#merge2_test.sort_values(by="작품갯수", ascending=False).head()

In [0]:
#merge2_test.to_csv('actor16.csv', sep=",", encoding='utf8')